.cabecalho{
    max-width: 85vw;
    height: 3vw;
    margin: 5vw auto;
    border-radius: 5px;
    padding: auto;
    background-color: rgb(236, 0, 0);
    text-align: center;
}
.conteudo{
    max-width: 75vw;
    border-radius: 20px;
    background-color: rgb(1, 11, 11);
    height: 70vw;
    margin: 5vw auto;
}
.card{
    width: 30vw;
    height: 15vw;
    margin-top: 2vw;
    border-radius: 10px;
    margin-left: 5vw;
    background-color: rgb(74, 73, 79);
    text-align: center;
    color: aliceblue;
    float: left;
}